
<head>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div id='headers'>		
	<h1>Umlaute, inc</h1>
	<p>state your öpiniönz.</p>


</div>
	<div id="container">
		<%= yield %>
	</div>
</body>
